* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 350;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: black;
	overflow-x: hidden;
}

@font-face {
	font-family: italicFont;
	src: url("/font/italic.ttf");
}

a {
	text-decoration: none;
}

#particleBg {
	position: absolute;
	inset: 0;
	z-index: -1;
}

h1 {
	color: white;
}
